.loader-container {
  display: grid;
  place-items: center;
}

.loader-container svg {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
